#deliveryHistoryContent * {
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
}

*.blocktitle {
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
}

#deliveryHistoryForm001{
	overflow: auto;
}

#maindiv
{
    background: #ffffff;
    background-image: -moz-linear-gradient(#fff, #fff);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ffffff),color-stop(1, #fff));

    -moz-border-radius: 5px;
    border-radius: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: #eeeeee;
    /*width: 780px;*/
    padding: 10px 30px;
    overflow: hidden; /* Clear floats */
}

#deliveryHistoryContent tbody, #deliveryHistoryContent tr, #deliveryHistoryContent th, #deliveryHistoryContent td{
    vertical-align:middle;
}

#shopOrderNumber, #submit
{
    float: left;
}

#shopOrderNumber
{
    margin-right: 0px;
    padding: 2px 5px;
    height: 28px;
    width: 420px;
    border: 1px solid #a4c3ca;
    font: normal 14px arial;
    background: #ffffff;

    outline: none;

    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

/* ----------------------- */

#submit
{
    background: #506678;
    background-image: -moz-linear-gradient(#7292AC, #506678);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #506678),color-stop(1, #7292AC));

    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;

    border-width: 1px;
    border-style: solid;
    border-color: #506678 #506678 #7292AC;

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    height: 34px;
    margin: 0 0 0 0px;
    padding: 0;
    width: 125px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #ffffff;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.status_icon {
    padding:6px 5px 0px 0px;
    border-top: solid 1px #92A8BA;
}

.status {
    padding:10px 0px 10px 0px;
    font-family:arial;
    font-size:12px;
    color: #333333;
    border-top: solid 1px #92A8BA;
}
.date {
    padding:10px 0px 10px 0px;
    font-family:arial;
    font-size:12px;
    color: #333333;
    border-top: solid 1px #92A8BA;
}
.status_icon_complete {
    padding:0px 5px 0px 0px;
    border-top: solid 1px #92A8BA;
}

.status_complete {
    padding:10px 0px 10px 0px;
    font-family:arial;
    font-size:12px;
    color: #79B928;
    border-top: solid 1px #92A8BA;
}
.date_complete {
    padding:10px 0px 10px 0px;
    font-family:arial;
    font-size:12px;
    color: #79B928;
    border-top: solid 1px #92A8BA;
}

#msg {
    font-family:Arial;
    font-size:11px;
    color:#ff0000;
    height:30px;
}


/**********************************************
*  кастомные стили
***********************************************/

table#deliveryHistoryContent{
	width: 570px !important;
	margin: 0 auto;
}

#deliveryHistoryContent #submit{
	width: 150px;
}
#maindiv table{
	text-align: center;
}

#shopOrderNumber{
	height: 34px;
	line-height: 34px;
}