body {
  font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
.content-block {
  min-height: 600px;
}

/** основные стили заголовков */
.header-1 {
  font-size: 31px;
  font-weight: 400;
}
.header-2{
  font-size: 29px;
  font-weight: 100;
  text-transform: none;
}
.header-3{
  font-size: 18px;
  font-weight: normal;
}
.header-4{
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: 400;
}
.header-5{}
.header-6{}

ul.circle {
  list-style-type: none;
}

.underlined-title{
  padding-bottom: 15px;
  h2 {
    @extend .header-1;
    color: #2c3e50;
    margin: 0;
    text-transform: none;
  }
}

.seo-catalog{
  h1{
    @extend .header-4;
  }
}

.img-main-popular{
  height: 190px;
}
.img-main-device{
  height: 110px;
}

#nicotine-row,
#volume-row {
  .col-md-3 {
    height: 25px;
    line-height: 23px;
    vertical-align: middle;
    i {
      display: inline;
      top: 5px;
    }
  }
}

#volume-group,
#nicotine-group{
  .btn-default{
    width: 25px;
  }
  .btn-default,
  .form-control{
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: normal;
    padding: 0;
    text-align: center;
  }
}
.product-colors{
  ul{
    li {
      list-style: none;
      display: inline-block;
      img.img-thumbnail{
        width: 115px;
        &:hover{
          border-color: #16a085;
        }
      }
      &.active{
        img.img-thumbnail{
          border-color: #CA031E;
        }
      }
    }
  }
}
#pop{
  padding: 10px;
  border:  1px solid red;
  height: 150px;
  left: 5%;
  position: absolute;
  top: 200px;
  width: 300px;
  display: none;
  background-color: #FFFFFF;
}
.shop-1-5 .product-overlay a {
  background-color: rgba(22, 160, 133, 0.6);
  padding: 0;
  width: 100%;
  vertical-align: middle;
  &:hover{
    background-color: rgba(22, 160, 133, 0.8);
  }

}
.shop-1-5 .product-overlay a.gallery-zoom, .shop-1-5 .product-overlay a.add-to-cart {
  height: 44px;
  vertical-align: middle;
}
.shop-1-5 .sidebar .nav-stacked > li + li {
  margin-top: 0;
  margin-left: 0;
}

ul.cat-list {
  li {
    margin-bottom: 0;
    padding: 0;
    a {
      padding: 3px 15px;
    }
  }
  ul.nav{
    margin-left: 15px;
    li a{
      font-size: 12px;
      padding: 3px 15px;
    }
  }
}

#header-1{
  .brand-img {
    padding: 0;
    height: 140px;
    margin-top: 0px;
  }
}
.mobile-hide{
  display: block;
}

.mobile-only,
#header-1 .main-nav .nav .nav-item.mobile-only {
  display: none;
}

#header-1{
  .logo-header{
    cursor: pointer;
    position: relative;
		.logo{
      left: 101px;
      position: absolute;
      top: 9px;
      white-space: nowrap;
      font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
      a{
        color: #fff;
        display: block;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
        padding: 0;
        text-transform: uppercase;
				&.logo-link{
					text-transform: none;
					color: white !important;
					font-size: 12px;
					line-height: 13px;
					margin: 4px 0 0 0;
					max-width: 500px;
					opacity: 1;
					font-weight: normal;
				}
      }
    }
    img.brand-img {
      padding: 0;
      height: 140px;
      margin-top: 0px;
    }
  }
  .main-nav {
    height: 90px;
    .nav{
      margin-top: 20px;
      .nav-item {
        a{
          i.glyphicon{
            font-size: 8px;
            top: -1px;
          }
					&.instagram-link{
						height: 24px;
						width: 24px;
						position: absolute;
						right: 5px;
						margin: 0;
						top: 12px;
						background: transparent url("/img/social/Instagram-24.png") no-repeat scroll 0 0;
					}
        }
        &.dropdown{
          display: none;
        }
        &.dropdown{
          .dropdown-menu li{
            font-size: 12px;
            margin: 0;
          }
          .dropdown-menu li a{
            font-size: 12px;
            font-weight: normal;
            padding: 5px;
          }

        }

      }
      #cartCount{
        font-size: 11px;
        color: #E37D3F;
      }
      li#info{
        margin-top: -5px;
        //float: right;
        //padding-top: 5px;
        //border-top: 1px solid rgba(255, 255, 255, 0.8);
        ul {
          //padding-left: 10px;
          li{
            font-size: 9px;
            color: #FFFFFF;
            margin-bottom: 0;
            text-align: right;
            &#phone{
              font-size: 20px;
              font-weight: bold;
              color: #FFF;
              font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
            }
          }
        }
      }
    }
  }
  #done-arrow{
    display: none;
    background: transparent url("/images/arrows/orange_90.png") no-repeat scroll 0 0;
    height: 55px;
    position: absolute;
    right: 19px;
    top: 35px;
    width: 90px;
    z-index: 1000;
  }
}

#header-1 .main-nav .nav li#info ul li#contact-phone{
  font-size: 17px;
}
.footer-1-1{
  .logo-footer{
    .logo-area{
      h3, h4{
        padding: 0 0 0 25px;
        font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
      }
      h3 {
        text-transform: uppercase;
        margin: 48px 0 0 0;
      }

      img{
        height: 160px;
      }
    }
  }
  h5 {
    color: #fff;
    margin: 5px 5px 0 25px;
    margin-top: 0;
  }
  span.fa{
    margin-right: 4px;
  }
}
.footer-1-1 h3, .footer-1-1 h4, .footer-1-1 .lead, .footer-1-1 li {
  color: #ffffff;
  margin-top: 0;
}

.shop-1-5 .product-image > a, .shop-1-5 .product-image .slide a, .shop-1-5 .product-image img {
  height: 220px;
  width: auto;
}
.product-desc{
  .editContent{
    text-align: center;
  }
  .price-val {
    font-size: 25px;
  }
  .price-rub::before {
    font-size: 25px;
  }
}

.product-image{
  a{
    text-align: center;
    img{
      margin: 0 auto;
    }
  }
}

.catalog-price {
  h5{
    font-size: 19px;
    line-height: 19px;
  }
  .price-rub::before{
    display: inline-block;
    font-size: 18px;
    margin-left: 2px;
  }
}
.shop-1-5 .sml-item .entry-image,
.shop-1-5 .sml-item .entry-image a,
.shop-1-5 .sml-item .entry-image img,
.shop-1-5 .sml-item .entry-image i {
  width: 40px;
  height: auto;
}
.shop-1-5 .sidebar .widget h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.widget{

  .widget-price {
    .price-rub::before{
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin-left: 2px;
    }
  }
}
#old-price-block,
#price-block{
  .price-val{
    font-size: 30px;
  }
  .price-rub::before{
    display: inline-block;
    font-size: 30px;
    margin-left: 2px;
  }
}
.price-rub {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-size: 0;
  position: relative;
  &::before {
    color: inherit;
    content: "у";
    display: inline;
    font-family: "PTRoubleSans";
    font-size: 15px;
    font-weight: normal;
  }
}
b .price-rub {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-size: 0;
  position: relative;
  &::before {
    content: "е";
    color: inherit;
    display: inline;
    font-family: "PTRoubleSans";
    font-size: 15px;
    font-weight: normal;
  }
}


@font-face {
  font-family: 'PTRoubleSans';
  src: url('/fonts/ptrouble/PTRoubleSans.eot');
  src: url('/fonts/ptrouble/PTRoubleSans.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ptrouble/PTRoubleSans.woff') format('woff'),
  url('/fonts/ptrouble/PTRoubleSans.ttf') format('truetype'),
  url('/fonts/ptrouble/PTRoubleSans.svg') format('svg');
}
.contact-1 .contact-info {
  margin: 20px 0;
  li {
    list-style: outside none none;
    margin-top: 0px;
    padding: 0;
    display: block;
  }
}

.modal-dialog {
  margin: 30px auto;
  width: 300px;
  z-index: 10000;
}


.cart-table{
  th{
    text-align: center;
  }
}

.thumbnail{
  margin-bottom: 0;
}
.editContent.product-name{
  height: 40px;
  h5, h6{
    margin:5px 0;
  }
  h6{
    font-weight: 600;
  }
}
.editContent.producer-name{
  height: 35px;
  h6{
    margin:5px 0;
  }
}

.seo-catalog{
  text-align: center;
}
span.fa{
  margin-right: 2px;
}

#shop-1-6{
  .product-desc {
    h1 {
     @extend .header-1;
    }
    h2{
      @extend .header-2;
    }
    h3{
      @extend .header-3;
    }
  }

  #price-block .price-rub::before {
    font-size: 28px;
  }
}

.shop-1-6 .product-desc .input-group .form-control {
  width: 50px;
  text-align: center;
}
.full-pull-right{
  float: right!important;
}

.shop-1-7 .cart-table .input-group .form-control {
  width: 50px;
  text-align: center;
  margin-left: -1px;
}

/*@media (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important;
    height: auto !important;
    padding-bottom: 0;
  }
  .navbar-header {
    float: left;
  }
}*/

@media (max-width: 1200px) {
	.navbar-nav > li > a {
		padding-left: 5px;
		padding-right: 5px;
		border-left: 1px solid #21495B;
	}
	.navbar-nav > li:first-of-type > a  {
		border-left: none;
	}

	#info ul.head-contact-info{
		padding-left: 12px;
	}
}

@media (max-width: 1000px) {
	.product-colors ul li img.img-thumbnail {
		width: 75px;
	}
	.fa-ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		i{
			display: none;
		}
	}
	#nicotine-row .col-md-3, #volume-row .col-md-3, #desc-row li {
		text-align: center !important;
	}
	#nicotine-row ,
	#volume-row{
		.col-md-3 {
			text-align: center;
			i{
				display: none;
			}
		}
	}

	#vk_comments{
		margin: 0 auto 20px;
	}
	.shop-1-6 .product-desc .product-rating .fa, .shop-1-6 .review .product-rating .fa {
		font-size: 25px;
		color: #F1C40F;
	}
	.shop-1-6 .sml-item .entry-image, .shop-1-6 .sml-item .entry-image a, .shop-1-6 .sml-item .entry-image img, .shop-1-6 .sml-item .entry-image i {
		height: 98px;
		width: auto;
	}
	#volume-group .btn-default, #volume-group .form-control,
	#nicotine-group .btn-default, #nicotine-group .form-control{
		height: 45px;
		width: 45px;
		&#volume,
		&#nicotine{
			width: 50px;
		}
	}
	#popular-items .sml-item > div{
		&.entry-image,
		&.widget-price{
			float: none;
			display: inline-block;
			h5{
				font-size: 20px;
			}
		}
		text-align: center;
	}
	.shop-1-6 .product-image > a, .shop-1-6 .product-image .slide a, .shop-1-6 .product-image img {
		display: block;
		margin: 0 auto;
		width: 60%;
	}
	#header-1 .main-nav .nav .nav-item a.instagram-link {
		left: 50%;
		top: -18px;
		margin-left: -12px;
	}
  #header-1 .main-nav .nav li#info {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    padding-top: 5px;
    margin-top: 0;
    ul {
      li {
        font-size: 10px;
        text-align: center;
      }
    }
  }
  #header-1 .navbar-collapse {
    width: auto;
    top: 80px;
    left: 0;
    right: 0;

  }
  .navbar-nav>li {
    float: left;
    width: 100%;
  }
  .navbar-collapse.collapse{
    display: none!important;
    &.in{
      display: block!important;
    }
  }

  .navbar-header {display:inline-block; margin-right:0px;}
  .navbar-toggle {
    display: inline-block;
  }
  .full-pull-right {
    float: none !important;
  }
  .shop-1-7 .cart-table .input-group .form-control {
    width: 40px;
    text-align: center;
  }
  .cart-table{
    .btn {
      margin: 5px 0;
    }
    .cart-quantity-group{
      .btn{
        padding: 9px 10px;
        font-size: 16px;
      }
      .input-group .form-control {
        width: 40px;
        text-align: center;
      }
    }
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    text-align: center;
  }
  .mobile-only,
  #header-1 .main-nav .nav .nav-item.mobile-only {
    display: block;
  }
  #header-1{
    .logo-header {
      display: table;
      float: none;
      margin: 0;
      //margin: 0 auto;
			.logo {
        display: none;
      }
      img.brand-img {
        float: none;
        height: 79px;
        margin: 5px 0 0 20px;
        text-align: center;
      }
    }
    .navbar-header{
      .navbar-toggle{
        .icon-desc{
          display: inline-block;
          line-height: 20px;
          vertical-align: top;
          a {
            margin-right: 7px;
            .glyphicon {
              font-size: 16px;
            }
            #cartCount {
              color: #e37d3f;
              font-size: 11px;
            }
          }
          .icon-text{
            font-size: 18px;
          }
        }
        .glyphicon{
          font-size: 18px;
          margin-left: 0;
        }
        .icon-desc,
        .glyphicon{
          color: #F6F6F6;
          &:hover{
            color: #FFFFFF;
          }
        }
      }
    }
  }
  #header-1 .main-nav .navbar-toggle {
    top: 25px;
  }
  .sidebar .mobile-hide{
    display: none;
  }
  .shop-1-6 .product-desc .input-group .form-control {
    width: 100%;
    text-align: center;
  }
  #nicotine-row .col-md-3,
  #volume-row .col-md-3,
  #desc-row li{
    text-align: left;
  }
  .shop-1-7 .btn {
    margin: 5px 0;
  }
  .dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
  }
}
.catalog-h1{
  font-size: 26px;
}
.cart-h4{
  margin: 40px 0 20px;
}
h3.text-left{
  text-align: left !important;
}
.emptycart{
  margin: 30px 0;

}
.alert {
  font-size: 16px;
  color: #FFF;
  &-danger{
    color: #a94442;
    background-color: #FCE8E8;
    border-color: #ebccd1;

  }
  &-success{
    background-color: #1ABC9C;

  }

}
.cart-table{
  .thumbnail {
    margin-bottom: 0;
    width: 44px;
  }
  .big-total td{
    font-weight: normal;
  }
  .form-group {
    margin: 0;
  }
}
.alert>p, .alert>ul {
  margin: 0;
}


.quantity-group{
  margin-top: 10px;
  margin-bottom: 10px;
  .fa{
    margin-right: 3px;
  }
}


/*****************************************************
* АДМИНКА
******************************************************/
.admin-page{
  //background-color: #193441;
  .content-block{
    //background-color: #193441;
  }
  .page-container{
    min-height: 600px;
    padding-top: 0;
    .content-block{
      padding-top: 10px;
    }
    .sidebar{
      //color: #FFF;
      //background-color: #193441;
    }
    .main-bar{
      //background-color: #FFF;

    }
  }
  .table.table-admin{
    thead tr{
      th {
        vertical-align: middle;
        padding: 2px;
        &:first-of-type{
          //text-align: center;
        }
      }
    }
    tbody {
      tr{
        th,
        td{
          vertical-align: middle;
          padding: 2px;
          i.fa{
            font-size: 20px;
          }
        }
        th{
          text-align: center;
        }
      }

    }
  }
  .table-grid{
    height: 400px;
    overflow: auto;
    .remove .fa {
      font-size: 20px;
      color: #AC1C00;
    }
  }
}

.admin-widget{
  .brand-img {
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0 auto;
  }
}

/** breadcrumbs ***/
.breadcrumbs{
  h4{
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    .filter {
      margin: 0 0 20px 0;
      li {
        text-transform: uppercase;
        &:before {
          padding: 0 10px 0 10px;
        }
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}

.shop-1-5 {
  #devform,
  #liqform{
    .product-image{
      .img-thumbnail.img-small{
        height: 150px;
        width: auto;
      }
    }
  }
}


.alert.alert-info.admin-alert{
  color: #31708f;
}

.order-text{
  font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
  h1{
    font-size:25px;
  }
  h2{
    font-size:22px;
  }
  table{
    th{
      text-align: center;
    }
    th,
    td{
      padding: 3px;
    }
  }
}

/*********************************************
* чекаут
**********************************************/

#copblock {
  z-index: 2000;
}

.fat{
  font-weight: bold;
}
/*********************************************
* социалки
**********************************************/
.social-block{
  margin-top: 30px;
}
.vk-comment-form{
  padding-top: 13px;
}


/*********************************************
* рейтинг
**********************************************/

.product-rating{
  position: relative;
  width: 100%;
	border: medium none;
	outline: medium none;
  &-stars{
    width: 130px;
    margin: 20px auto 10px;
    &.can-rate {
      .fa {
        cursor: pointer;
      }
    }
  }
	.rate-done {
		.popover{
			background-color: #16A085;
			max-width: 400px;
			&-content {
				white-space: nowrap;
			}
			&.bottom > .arrow::after{
				border-bottom-color: #16A085;
			}
			&.right > .arrow::after {
				border-right-color: #16A085;
			}
		}
	}
  .popover{
    background-color: #f1c40f;
		max-width: 400px;
    &-content {
      white-space: nowrap;
    }
		&.bottom > .arrow::after{
			border-bottom-color: #f1c40f;
		}
    &.right > .arrow::after {
      border-right-color: #f1c40f;
    }
  }
}
.shop-1-6 .product-desc .product-rating span.rating-count{
	margin: 0;
	padding: 0;
}
.block-404{
	margin: 100px auto;
}
.top-promo{
	margin-bottom: 20px;
}
.ban-preview{
	height: 150px;
	width: auto;
	&.disabled{
		opacity: 0.2;
		filter: alpha(opacity=20); /* For IE8 and earlier */
	}

}
#subModal{
	.modal-dialog {
		margin: 10% auto;
		width: 400px;
		z-index: 10000;
	}
	h4{
		text-align: center;
		font-size: 18px;
	}
	.close{
		margin-top: 4px;
		opacity: 0.4;
	}
	.modal-content{
		background-color: #2F4052;
		.modal-header{
			color: #fff;
		}
	}
	.modal-body{
		background-color: #F5F7FA;
		.message{
			font-size: 16px;
			padding: 10px 0;
		}
	}
}
#old-price-block{
	&.old-price{
		position: relative;
		.price-rub{
			color: lightgrey;
			&::before {
				font-size: 27px;
			}
		}
		.price-val{
			color: lightgrey;
			font-size: 26px;
		}
		.del-line{
			background-color: lightgrey;
			height: 1px;
			left: 50%;
			margin-left: -50px;
			position: absolute;
			top: 59%;
			width: 100px;
		}
	}
}
.catalog-old-price{
	position: relative;
	h5{
		color: lightgrey;
		font-size: 17px;
		.price-rub{
			color: lightgrey;
			&::before {
				font-size: 16px;
			}
		}
	}

	.del-line{
		background-color: lightgrey;
		height: 1px;
		left: 50%;
		margin-left: -30px;
		position: absolute;
		top: 59%;
		width: 60px;
	}
}
