/*	HEADER 1
/*----------------------------------------------------*/

#header-1 {
    width: 100%;
    background: none;
    min-height: 80px;
}

#header-1 .main-nav {
	background-color: #193441;
    border: 0;
    height: 80px;
}

#header-1 .main-nav .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: none;
	position: absolute;
	right: 20px;
	top: 20px;
}

#header-1 .main-nav .navbar-toggle:focus {
	outline: none;
}

#header-1 .main-nav .navbar-toggle .icon-bar {
	background-color: rgba(255, 255, 255, 0.6);
	height: 3px;
}

#header-1 .main-nav .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

#header-1 .main-nav .nav {
	margin-top: 12px;
}

#header-1 .main-nav .nav .nav-item a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

#header-1 .main-nav .nav .nav-item.active a {
	color: #3498DB;
	background: none;
}

#header-1 .main-nav .nav .nav-item a:hover {
	color: #3498DB;
	background: none;
}

#header-1 .main-nav .nav .nav-item a:focus {
	outline: none;
	background: none;
}

#header-1 .main-nav .nav .nav-item a:active {
	outline: none;
	background: none;
}

#header-1 .main-nav .nav .nav-item.active {
	color: #333;
}


#header-1 .main-nav .nav .dropdown-menu {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 0;
	border: none;
	text-transform: none;
	min-width: 180px;
	background: #3E606F;
}

#header-1 .main-nav .nav .dropdown-menu:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #3E606F;
	position: absolute;
	right: 35px;
	top: -10px;
}

#header-1 .main-nav .nav .dropdown-menu a {
	padding: 8px 20px;
	color: #fff;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

#header-1 .main-nav .nav .dropdown-menu a:hover {
	background: #193441;
	color: #fff;
}


#header-1 .brand-img {
	max-width: 150px;
	padding: 20px 0;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}


/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background: none;
}


/*	HEADER 1 MEDIA QUERIES
/*----------------------------------------------------*/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 999px) {

	#header-1 .brand-img {
		float: none;
		margin: 0 auto;
		text-align: center;
		height: 50px;
	}

	#header-1 .navbar-fixed-top {
		position: relative;
	}

	#header-1 .navbar-collapse {
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 100%;
		top: 80px;
		position: absolute;
		background: #193441;
		z-index: 999;
	}

	#header-1 .navbar-collapse .nav {
		margin: 0;
		text-align: center;
	}

	#header-1 .main-nav .nav .dropdown-menu:before {
		display: none;
	}

	#header-1 .navbar-fixed-top .navbar-collapse,
	#header-1 .navbar-fixed-bottom .navbar-collapse {
		max-height: inherit;
	}

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {




}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {




}
